In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [2]:
full_train=pd.read_csv('/kaggle/input/spaceship-titanic/train.csv')
full_test=pd.read_csv('/kaggle/input/spaceship-titanic/test.csv')
full_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
full_train.replace(to_replace=False,value=0,inplace=True)
full_train.replace(to_replace=True,value=1,inplace=True)
full_test.replace(to_replace=False,value=0,inplace=True)
full_test.replace(to_replace=True,value=1,inplace=True)
full_train.head()

/tmp/ipykernel_18/3343928581.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  full_train.replace(to_replace=True,value=1,inplace=True)
/tmp/ipykernel_18/3343928581.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  full_test.replace(to_replace=True,value=1,inplace=True)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,0.0,B/0/P,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,Earth,0.0,F/0/S,TRAPPIST-1e,24.0,0.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,Europa,0.0,A/0/S,TRAPPIST-1e,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,Europa,0.0,A/0/S,TRAPPIST-1e,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,Earth,0.0,F/1/S,TRAPPIST-1e,16.0,0.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1

In [4]:
full_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   float64
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   float64
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   int64
dtypes: float64(8), int64(1), object(5)
memory usage: 950.9+ KB

In [5]:
full_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [6]:
full_train.describe()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
count,8476.000000,8514.000000,8490.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,8693.000000
mean,0.358306,28.827930,0.023439,224.687617,458.077203,173.729169,311.138778,304.854791,0.503624
std,0.479531,14.489021,0.151303,666.717663,1611.489240,604.696458,1136.705535,1145.717189,0.500016
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,38.000000,0.000000,47.000000,76.000000,27.000000,59.000000,46.000000,1.000000
max,1.000000,79.000000,1.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,1.000000

In [7]:
full_train.drop(['Name'],axis=1,inplace=True)

In [8]:
full_test.drop(['Name'],axis=1,inplace=True)

In [9]:
full_train['HomePlanet'].unique()

array(['Europa', 'Earth', 'Mars', nan], dtype=object)

In [10]:
len(full_train['Cabin'].unique())

6561

In [11]:
full_train['Destination'].unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [12]:
full_train.drop(['Cabin'],axis=1,inplace=True)
full_test.drop(['Cabin'],axis=1,inplace=True)

In [13]:
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
imputer=SimpleImputer(strategy='most_frequent')
imputed_columns=pd.DataFrame(imputer.fit_transform(full_train[['HomePlanet','Destination']]))
imputed_columns

           0              1
0     Europa    TRAPPIST-1e
1      Earth    TRAPPIST-1e
2     Europa    TRAPPIST-1e
3     Europa    TRAPPIST-1e
4      Earth    TRAPPIST-1e
...      ...            ...
8688  Europa    55 Cancri e
8689   Earth  PSO J318.5-22
8690   Earth    TRAPPIST-1e
8691  Europa    55 Cancri e
8692  Europa    TRAPPIST-1e

[8693 rows x 2 columns]

In [14]:
full_test.head(10)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,Earth,1.0,TRAPPIST-1e,27.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0018_01,Earth,0.0,TRAPPIST-1e,19.0,0.0,0.0,9.0,0.0,2823.0,0.0
2,0019_01,Europa,1.0,55 Cancri e,31.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0021_01,Europa,0.0,TRAPPIST-1e,38.0,0.0,0.0,6652.0,0.0,181.0,585.0
4,0023_01,Earth,0.0,TRAPPIST-1e,20.0,0.0,10.0,0.0,635.0,0.0,0.0
5,0027_01,Earth,0.0,TRAPPIST-1e,31.0,0.0,0.0,1615.0,263.0,113.0,60.0
6,0029_01,Europa,1.0,55 Cancri e,21.0,0.0,0.0,NaN,0.0,0.0,0.0
7,0032_01,Europa,1.0,TRAPPIST-1e,20.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0032_02,Europa,1.0,55 Cancri e,23.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0033_01,Earth,0.0,55 Cancri e,24.0,0.0,0.0,639.0,0.0,0.0,0.0

In [15]:
full_train[['HomePlanet','Destination']]=imputed_columns

In [16]:
full_test[['HomePlanet','Destination']]=pd.DataFrame(imputer.transform(full_test[['HomePlanet','Destination']]))

In [17]:
full_test[['HomePlanet','Destination']].isnull().sum()

HomePlanet     0
Destination    0
dtype: int64

In [18]:
imputer2=SimpleImputer(strategy='most_frequent')
full_train[['CryoSleep','VIP']]=pd.DataFrame(imputer2.fit_transform(full_train[['CryoSleep','VIP']]))
full_test[['CryoSleep','VIP']]=pd.DataFrame(imputer2.transform(full_test[['CryoSleep','VIP']]))

In [19]:
imputer3=KNNImputer(weights='distance')
full_train[['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]=pd.DataFrame(imputer2.fit_transform(full_train[['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]))
full_test[['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]=pd.DataFrame(imputer2.fit_transform(full_test[['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]))

In [20]:
full_test.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [21]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
full_train['HomePlanet']=pd.DataFrame(enc.fit_transform(full_train['HomePlanet'].to_numpy()))
full_test['HomePlanet']=pd.DataFrame(enc.transform(full_test['HomePlanet'].to_numpy()))

In [22]:
full_train['Destination']=pd.DataFrame(enc.fit_transform(full_train['Destination'].to_numpy()))
full_test['Destination']=pd.DataFrame(enc.transform(full_test['Destination'].to_numpy()))

In [23]:
full_train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,1,0.0,2,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0002_01,0,0.0,2,24.0,0.0,109.0,9.0,25.0,549.0,44.0,1
2,0003_01,1,0.0,2,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,0
3,0003_02,1,0.0,2,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,0
4,0004_01,0,0.0,2,16.0,0.0,303.0,70.0,151.0,565.0,2.0,1

In [24]:
from sklearn.model_selection import train_test_split
Y=full_train['Transported']
X=full_train.drop(['Transported','PassengerId'],axis=1)
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

# XGboost

In [25]:
from sklearn.model_selection import GridSearchCV

In [26]:
from xgboost import XGBClassifier
model = XGBClassifier(learning_rate =0.1,
              n_estimators=10,
              max_depth=5,
              min_child_weight=2,
              gamma=0.1,
              subsample=0.85,
              colsample_bytree=0.8,
              objective= 'binary:logistic',
              nthread=4,
              scale_pos_weight=1,
              seed=27)
             
gsearch = GridSearchCV(estimator = model,param_grid= {
 'max_depth':range(3,10,2),
 'min_child_weight':range(1,6,2)}, scoring='roc_auc',n_jobs=4, cv=5,verbose=1
    )


gsearch.fit(x_train,y_train)
print('Best Grid Search Parameters :',gsearch.best_params_)
print('Best Grid Search Score : ',gsearch.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
Best Grid Search Parameters : {'max_depth': 7, 'min_child_weight': 5}
Best Grid Search Score :  0.8743452041455422

In [27]:
model2= XGBClassifier(learning_rate =0.1,
              n_estimators=10,
              max_depth=7,
              min_child_weight=5,
              gamma=0,
              subsample=0.85,
              colsample_bytree=0.8,
              objective= 'binary:logistic',
              nthread=4,
              scale_pos_weight=1,
              seed=27)
gsearch2 = GridSearchCV(estimator = model2,param_grid= {
 'gamma':[i/10 for i in range(0,5)]}, scoring='roc_auc',n_jobs=4, cv=5,verbose=5
    )
gsearch2.fit(x_train,y_train)
print('Best Grid Search Parameters :',gsearch2.best_params_)
print('Best Grid Search Score : ',gsearch2.best_score_)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
Best Grid Search Parameters : {'gamma': 0.4}
Best Grid Search Score :  0.8747964903947727

In [28]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
model3=XGBClassifier(learning_rate =0.1,
              n_estimators=10,
              max_depth=7,
              min_child_weight=5,
              gamma=0.4,
              subsample=0.85,
              colsample_bytree=0.8,
              objective= 'binary:logistic',
              nthread=4,
              scale_pos_weight=1,
              seed=27)
model3.fit(x_train,y_train)
predict_pr=model3.predict_proba(x_test)
auc_score = roc_auc_score(y_test, predict_pr[:,1])

In [29]:
auc_score

0.8688783490077389

In [30]:
full_test

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,0,1.0,2,27.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0018_01,0,0.0,2,19.0,0.0,0.0,9.0,0.0,2823.0,0.0
2,0019_01,1,1.0,0,31.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0021_01,1,0.0,2,38.0,0.0,0.0,6652.0,0.0,181.0,585.0
4,0023_01,0,0.0,2,20.0,0.0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,0,1.0,2,34.0,0.0,0.0,0.0,0.0,0.0,0.0
4273,9269_01,0,0.0,2,42.0,0.0,0.0,847.0,17.0,10.0,144.0
4274,9271_01,2,1.0,0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
4275,9273_01,1,0.0,2,18.0,0.0,0.0,2680.0,0.0,0.0,523.0
4276,9277_01,0,1.0,1,43.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:

X

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1,0.0,2,39.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,2,24.0,0.0,109.0,9.0,25.0,549.0,44.0
2,1,0.0,2,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0
3,1,0.0,2,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0
4,0,0.0,2,16.0,0.0,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...
8688,1,0.0,0,41.0,1.0,0.0,6819.0,0.0,1643.0,74.0
8689,0,1.0,1,18.0,0.0,0.0,0.0,0.0,0.0,0.0
8690,0,0.0,2,26.0,0.0,0.0,0.0,1872.0,1.0,0.0
8691,1,0.0,0,32.0,0.0,0.0,1049.0,0.0,353.0,3235.0
8692,1,0.0,2,44.0,0.0,126.0,4688.0,0.0,0.0,12.0

In [32]:
test1=full_test.drop(['PassengerId'],axis=1)
model3.fit(X,Y)
pred = model3.predict(test1)
pred

array([1, 0, 1, ..., 1, 1, 1])

In [33]:
forte=pd.read_csv('/kaggle/input/spaceship-titanic/test.csv')
forte

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [34]:
predd=pd.DataFrame(pred)

In [35]:
predd.replace(0,'False',inplace=True)
predd.replace(1,'True',inplace=True)
predd.iloc[:,0]

0        True
1       False
2        True
3        True
4        True
        ...
4272     True
4273    False
4274     True
4275     True
4276     True
Name: 0, Length: 4277, dtype: object

In [36]:

submit = pd.DataFrame({'PassengerId':forte.PassengerId,'Transported':predd.iloc[:,0]})
# # submit['label'].replace([0,1], [False, True], inplace=True)
# submit['label']
submit.to_csv('./submission1.csv',index=False)

In [37]:
pd.read_csv('/kaggle/input/spaceship-titanic/sample_submission.csv')

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [38]:
submit

     PassengerId Transported
0        0013_01        True
1        0018_01       False
2        0019_01        True
3        0021_01        True
4        0023_01        True
...          ...         ...
4272     9266_02        True
4273     9269_01       False
4274     9271_01        True
4275     9273_01        True
4276     9277_01        True

[4277 rows x 2 columns]